@import "../../../styles/variables"

.btn-c
    margin: auto

.about-text
    color: $blue
    font-family: Open Sans
    font-size: $font16mob
    font-style: normal
    font-weight: 300
    line-height: normal
