@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(24px, 11.21472vw, 96px);
}
.form .form-mobile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form .form-mobile-content .form-input {
  width: 100%;
  height: auto;
  color: #2D3A53;
  font-family: Open Sans;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  border-bottom: 2px solid #2D3A53;
  padding-left: clamp(4px, 1.86912vw, 16px);
  padding-bottom: clamp(4px, 1.86912vw, 16px);
  transition: 0.3s all;
}
.form .form-mobile-content .form-input:focus {
  border-bottom: 2px solid #EB7F38;
  outline: none;
}
.form .form-mobile-content .select-styles {
  width: 100%;
  color: #2D3A53;
  font-family: Open Sans;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.form .form-mobile-content .btn-center {
  display: flex;
  justify-content: center;
}
.form .form-pc-content {
  display: none;
}
.form .mob-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .mob-contacts .logo-colorful {
  width: clamp(104.5px, 48.83076vw, 418px);
  height: clamp(104.5px, 48.83076vw, 418px);
}
.form .mob-contacts .contact-container {
  display: flex;
  align-items: center;
}
.form .mob-contacts .contact-container .icon {
  color: #EB7F38;
  font-size: clamp(11px, 5.14008vw, 44px);
  margin-right: clamp(8px, 3.73824vw, 32px);
}
.form .mob-contacts .contact-container .link {
  color: #EB7F38;
  text-align: right;
  font-family: Open Sans;
  font-size: clamp(11px, 5.14008vw, 44px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.form .pc-contacts {
  display: none;
}

@media screen and (min-width: 1024px) {
  .form {
    display: flex;
    flex-direction: row;
    margin-top: 0px !important;
  }
  .form .form-mobile-content {
    display: none !important;
  }
  .form .mob-contacts {
    display: none;
  }
  .form .form-pc-content {
    display: flex;
    flex-direction: column;
  }
  .form .form-pc-content .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form .form-pc-content .form-row .form-input {
    width: clamp(220px, 22.9152vw, 880px);
    height: auto;
    color: #2D3A53;
    font-family: Open Sans;
    font-size: clamp(9px, 0.93744vw, 36px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: none;
    border-bottom: 2px solid #2D3A53;
    padding-left: clamp(4px, 0.41664vw, 16px);
    padding-bottom: clamp(4px, 0.41664vw, 16px);
    transition: 0.3s all;
  }
  .form .form-pc-content .form-row .form-input:focus {
    border-bottom: 2px solid #EB7F38;
    outline: none;
  }
  .form .form-pc-content .form-row .l {
    margin-left: clamp(16px, 1.66656vw, 64px);
  }
  .form .pc-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .form .pc-contacts .logo-colorful {
    cursor: pointer;
  }
  .form .pc-contacts .contact-container {
    display: flex;
    align-items: center;
  }
  .form .pc-contacts .contact-container .icon {
    color: #EB7F38;
    font-size: clamp(10px, 1.0416vw, 40px);
    margin-right: clamp(8px, 0.83328vw, 32px);
  }
  .form .pc-contacts .contact-container .link {
    color: #EB7F38;
    text-align: right;
    font-family: Open Sans;
    font-size: clamp(10px, 1.0416vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=form.css.map */