@import "./variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box

#root
    width: 100%
    height: auto

.main-heading
    color: #FFF
    text-align: center
    font-family: Vollkorn
    font-size: $font36mob
    font-style: normal
    font-weight: 700
    line-height: normal

.main-subtext
    color: #FFF
    text-align: center
    font-family: Vollkorn
    font-size: $font20mob
    font-style: normal
    font-weight: 500
    line-height: normal

.main-btn
    width: clamp(135.5px,63.31643999999999vw,542px)
    height: clamp(28.5px,13.31748vw,114px)
    color: #FFF
    text-align: center
    font-family: Vollkorn
    font-size: $font20mob
    font-style: normal
    font-weight: 600
    line-height: normal
    background: transparent
    border: 2px solid $white
    border-radius: 50px

.main-paragraph
    color: #FFF
    text-align: center
    font-family: Vollkorn
    font-size: $font21mob
    font-style: normal
    font-weight: 500
    line-height: normal

.paragraph
    color: $blue
    font-family: Open Sans
    font-size: $font17mob
    font-style: normal
    font-weight: 300
    line-height: normal

.focused
    color: $orange
    font-family: Open Sans
    font-size: $font17mob
    font-style: normal
    font-weight: 400
    line-height: normal

.separator-container
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: center

.icon-container
    display: flex
    align-items: center

.wheat-subtext
    color: $orange
    text-align: right
    font-family: Open Sans
    font-size: $font14mob
    font-style: italic
    font-weight: 400
    line-height: normal

.wheat-icon
    font-size: $m16mob
    color: $orange

.numeric
    margin-left: $m8mob
