@import "../../../styles/variables"

.white-logo
    width: clamp(90.5px,42.28884vw,362px)
    height: clamp(90.5px,42.28884vw,362px)

.links
    display: flex
    flex-direction: column
    align-items: center

    .nav-link
        color: #FFF
        font-family: Vollkorn
        font-size: clamp(12px,5.60736vw,48px)
        font-style: normal
        font-weight: 600
        line-height: normal
