@import "../../../styles/variables"

.white-logo
    width: clamp(90.5px,42.28884vw,362px)
    height: clamp(90.5px,42.28884vw,362px)

.links
    display: flex
    flex-direction: column
    align-items: center

    .nav-link
        color: #FFF
        font-family: Vollkorn
        font-size: clamp(12px,5.60736vw,48px)
        font-style: normal
        font-weight: 600
        line-height: normal

.separator-linez
    width: 100%
    height: 1px
    background-color: $white !important
    background: $white !important

.all-rights
    color: #FFF
    text-align: right
    font-family: Open Sans
    font-size: $font16mob
    font-style: normal
    font-weight: 300
    line-height: normal
    margin-bottom: $m16mob

@media screen and  (min-width: 1024px)

    .upper-row
        width: 100%
        height: auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .white-logo
            width: clamp(60.5px,6.30168vw,242px)
            height: clamp(59px,6.14544vw,236px)

        .links
            width: 30%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between

            .nav-link
                color: $white
                font-family: Vollkorn
                font-size: clamp(12px,1.24992vw,48px)
                font-style: normal
                font-weight: 600
                line-height: normal
                transition: 0.3s all
                cursor: pointer
                &:hover
                    font-size: clamp(14px,1.45824vw,56px)
                    color: $orange

        .mail-link
            color: $white
            text-align: right
            font-family: Open Sans
            font-size: clamp(10px,1.0416vw,40px)
            font-style: normal
            font-weight: 400
            line-height: normal
            text-decoration: none
            transition: 0.3s all
            &:hover
                color: $orange

    .separator-linez
        width: 100%
        height: 1px
        background-color: $white !important
        background: $white !important

    .all-rights
        color: #FFF
        text-align: right
        font-family: Open Sans
        font-size: $m16
        font-style: normal
        font-weight: 300
        line-height: normal
        margin: auto
        margin-top: $m16mob
        margin-bottom: $m16mob
