@import "../../../styles/variables"

.btn-container
    position: relative
    z-index: 0

    .btn
        width: clamp(120px,56.0736vw,480px) !important
        height: clamp(21.5px,10.04652vw,86px) !important
        color: #FFF !important
        font-family: Vollkorn !important
        font-size: $font17mob !important
        font-style: normal !important
        font-weight: 600 !important
        line-height: normal !important
        display: flex !important
        align-items: center !important
        justify-content: center !important
        font-size: $font17mob !important
        background-color: $blue !important
        cursor: pointer !important
        z-index: 0 !important
        overflow: hidden !important
        border: none !important
        border-radius: 0 !important
        text-transform: none !important

    .pseudo
        width: clamp(120px,56.0736vw,480px)
        height: clamp(21.5px,10.04652vw,86px)
        border: 2px solid $orange
        z-index: -1
        left: 9px
        top: -9px
        position: absolute

@media screen and  (min-width: 1024px)

    .btn-container
        position: relative
        z-index: 0

        .btn
            width: clamp(153px,15.93648vw,612px) !important
            height: clamp(27px,2.81232vw,108px) !important
            color: #FFF !important
            font-family: Vollkorn !important
            font-size: clamp(12px,1.24992vw,48px) !important
            font-style: normal !important
            font-weight: 600 !important
            line-height: normal !important
            display: flex !important
            align-items: center !important
            justify-content: center !important
            background-color: $blue !important
            cursor: pointer !important
            z-index: 0 !important
            overflow: hidden !important
            border: none !important
            border-radius: 0 !important
            text-transform: none !important
            transition: 0.3s all

        .pseudo
            width: clamp(153px,15.93648vw,612px) !important
            height: clamp(27px,2.81232vw,108px) !important
            border: 2px solid $orange
            z-index: -1
            left: 9px
            top: -9px
            position: absolute

        .btn
            &:hover
                background-color: $orange !important

    .c-btn-container

        .c-btn
            width: clamp(107px,11.14512vw,428px)
            height: clamp(25px,2.604vw,100px)
            color: $orange
            font-family: Vollkorn
            font-size: clamp(9.5px,0.9895200000000001vw,38px)
            font-style: normal
            display: flex
            align-items: center
            justify-content: center
            font-weight: 600
            line-height: normal
            border-radius: 50px
            border: 2px solid $orange
            background-color: transparent
            transition: 0.3s all
            cursor: pointer
            &:hover
                width: clamp(120px,12.4992vw,480px)
                height: clamp(30px,3.1248vw,120px)
                color: $blue
                border: 2px solid $blue
